
<h3>Dein &uuml;berpr&uuml;fter Stimmzettel</h3>

<p>
<b><u>Wichtig</u></b>: Der jetzt &uuml;berpr&uuml;fte Stimmzettel, <em>wird nicht gez&auml;hlt</em>.<br />
Um den Stimmzettel abzugeben, musst du auf "Zur&uuml;ck zur Wahl" klicken, den Stimmzettel erneut verschl&uuml;sseln und 
ihn "abgeben" statt ihn zu "&uuml;berpr&uuml;fen".
</p>

<p>
<b>Warum?</b> Helios verhindert, dass ein und derselbe Stimmzettel &uuml;berpr&uuml;ft und abgegeben wird, 
um dich vor einem Stimmzwang zu sch&uuml;tzen.

</p>

<p>
<b>Was nun?</b> <a onclick="$('#audit_trail').select(); return false;" href="#">Markiere deine Pr&uuml;fdaten</a>, 
kopiere sie in die Zwischenablage und verwende die <a target="_blank" href="single-ballot-verify.html?election_url={$T.election_url}">Stimmzettel-Pr&uuml;fung</a> um sie zu validieren.<br />
Wenn du damit zufrieden bist, klicke auf "Zur&uuml;ck zur Wahl", um deinen Stimmzettel erneut zu verschl&uuml;sseln und deine Stimme abzugeben.
</p>

<form action="#">
<textarea name="audit_trail" id="audit_trail" cols="80" rows="10" wrap="soft">
{$T.audit_trail}
</textarea>
<br /><br />
Bevor du zur Wahl zur&uuml;ckkehrst,<br />
kannst du den &uuml;pr&uuml;ften Stimmzettel an das Helios-Tracking-Center schicken, damit andere die Validierung und Verifikation des Stimmzettels doppelt pr&uuml;fen k&ouml;nnen.
<br /><br />
<b>Auch wenn du den &uuml;pr&uuml;ften Stimmzettel abschickst, musst du zur Wahl zur&uuml;ckgehen und deinen Stimmzettel einwerfen, wenn du willst, dass deine Stimme gez&auml;hlt wird.
<br /><br />
<input type="button" value="Zur&uuml;ck zur Wahl" onclick="BOOTH.reset_ciphertexts();BOOTH.seal_ballot();" class="pretty" />
&nbsp; &nbsp;&nbsp;
<input type="button" value="&Uuml;berpr&uuml;ften Stimmzettel ans Tracking-Center schicken" onclick="$(this).attr('disabled', 'disabled');BOOTH.post_audited_ballot();" id="post_audited_ballot_button" class="pretty" style="font-size:0.8em;"/>

</form>




