
<div id="questions_div">
<p>
    Bei der Stimmabgabe wirst du durch folgende Schritte geleitet.<br />
    Wenn du noch nicht eingeloggt bist, wirst du am Ende der Wahl zur Eingabe deiner Voter ID und deines Passworts aufgefordert.
<p>
    
<ol>
    <li> <b>W&auml;hle</b> deine bevorzugten Optionen.<br />
<span style="font-size: 14pt;">Du kannst einfach von Frage zu Frage navigieren.</span></li>
<br />

    <li> <b>&Uuml;berpr&uuml;fe &amp; Best&auml;tige</b> deine Wahl.<br />
<span style="font-size: 14pt;">
    Deine Stimme wird innerhalb deines Browsers sicher verschl&uuml;sselt, du bekommst einen Link zum Nachverfolgen deiner Stimme.<br />
</span>
</li>
<br />

    <li> <b>&Uumlbetrage</b> deinen verschl&uuml;sselten Stimmzettel.<br />
<span style="font-size: 14pt;">
    Wenn du deine Voter ID und dein Passwort noch nicht eingegeben hast, musst du sie vor der &Uuml;betragung eingeben, damit deine Stimme gez&auml;hlt wird.
</span>
</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">Start</button></div>
</div>

