{% extends TEMPLATE_BASE %}

{% block header %}
<h2>{{ settings.SITE_TITLE }} &mdash; Auf Twitter folgen?</h2>
{% endblock %}


{% block content %}

<div style="font-size: 1.2em;">Wir empfehlen dir, dass du <b>@{{user_to_follow}}</b> auf Twitter folgst:<br /><br />
{{reason_to_follow}}. Wir werden deine Freundschaft und dein Interesse nicht missbrauchen: Du bekommst nur Nachrichten, die dich wirklich betreffen, allgemeine Updates gibt es nur sehr selten.
</div>
<br /><br />
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<span style="font-size: 1.3em;">
<input type="checkbox" name="follow_p" value="1" checked>
@{{user_to_follow}} folgen
<br /><br />
<input type="submit" value="Weiter" />
</span>
</form>

{% endblock %}
