{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="large-12-columns">

<div class="row"><h2>&Uuml;ber die Freie Wahl/Helios Voting</h2></div>

<div class="row">
<p> Die deutsche Version unter dem Label <em>Freie Wahl/Helios Voting</em> wird von <a href="mailto:michael@freiewahl.at">Michael Faschinger</a>
    gewartet und betrieben.<br>
    Helios ist eine &uuml;berparteiliche Organisation, die von <a href="http://ben.adida.net">Ben Adida</a> geleitet wird.
   Weiterf&uuml;hrende Informationen zu dieser Organisation findest du auf der englischsprachigen <a href="https://heliosvoting.org/about">Homepage von Helios Voting</a>.
</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<h5>Code-Mitwirkende</h5>

Ben Adida, Olivier de Marneffe, Olivier Pereira
</div>

</div>

{% endblock %}
