{% extends 'server_ui/templates/base.html' %}
{% block title %}Stimme best&auml;tigen{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#cast_div').hide();
  $('#waiting_div').show();
}
</script>
<h1>Best&auml;tige deine Stimme</h1>

{% if error %}
<p style="color: red;">{{error}}</p>
{% endif %}

<h3>Dein Stimmzettel</h3>

<p style="font-size:1.6em;">
    <tt>{{vote_fingerprint}}</tt>
</p>

<div id="cast_div">
<h3>Gib deinen Stimmzettel mit deinen Anmeldedaten ab</h3>

<form method="post" onsubmit="show_waiting();" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />

<table>
{{form.as_table}}
</table><br />

    <input type="submit" value="cast this ballot" /><br /><br />
</form>

<p>
    Passwort vergessen? <a href="{% url "auth@password@forgotten" %}?return_url={% url "election@cast-confirm" %}">Erinnerungsmail schicken</a>.<br />(keine Sorge, wir vergessen deine Stimme nicht!).
</p>
</div>

<div id="waiting_div" align="center">
  Stimmzettel wird verifiziert und abgegeben...<br />
  <img src="/static/helios/loading.gif" />
</div>

{% endblock %}
