{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="large-12-columns">

<div class="row"><h2>Dokumentation</h2></div>

<div class="row">

<p>
Das Helios Wahlsystem basiert auf fortgeschrittenen kryptographischen Methoden, die
einem Peer-Review unterzogen wurden. Durch die eingesetzten Methoden ist es m&ouml;glich,
dass deine Stimme geheim bleibt, w&auml;hrend du selbst mithilfe des smarten Stimmzettel-Trackers
stets &uuml;berpr&uuml;fen kannst, dass dein Stimmzettel korrekt verarbeitet und gez&auml;hlt wurde:
</p>

<ul>
<li> <a href="http://documentation.heliosvoting.org/">Technische Dokumentation (auf Englisch)</a></li>
<li> <a href="http://www.usenix.org/events/sec08/tech/full_papers/adida/adida.pdf">In Peer-Reviews &uuml;berpr&uuml;ftes Paper (Usenix Security 2008)</a></li>
<li> <a href="https://github.com/google/pyrios">Pyrios</a>, eine in Go geschriebene Bibliothek von <a href="http://1.37e2.net/">Tom Roeder</a>, mit der Helios-Abstimmungen gepr&uuml;ft werden k&ouml;nnen.
</ul>

<p>
Helios has been covered in the press:
</p>

<ul>
<li> <a href="http://harvardmagazine.com/2010/05/secret-ballots-verifiable-votes">Harvard Magazine, April 2010</a></li>
<li> <a href="http://www.ynet.co.il/articles/0,7340,L-3720204,00.html">Ynet, Israeli Press, June 2009</a></li>


</div>

</div>

{% endblock %}
