{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="large-12-columns">

<div class="row"><h2>FAQ</h2></div>

<div class="row">
<b>Warum ist Helios anders/besser als andere Wahlsysteme?</b>

<p>Helios ist <em>echt verifizierbar</em>. Jede*r W&auml;hler*in erh&auml;lt einen Smarten Stimmzettel-Tracker,
  mit dem man die korrekte Verarbeitung und Z&auml;hlung jedes Stimmzettels im Stimmzettel-Tracking-Center &uuml;berpr&uuml;fen
  kann. Niemand, auch nicht die Administrator*innen der Wahl k&ouml;nnen deine Stimme nachtr&auml;glich a&uuml;ndern.
</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<b>Ich habe schon von "Verifizierbarkeit durch W&auml;hler*innen" geh&ouml;hrt, was ist da bei Helios anders?</b>
<p>Viele andere Wahlsysteme behaupten, dass sie von W&auml;hler*innen verifizierbar sind. Wir sind der Meinung,
  dass W&auml;hler*innen-Verifizierbarkeit unabdingbar ist. Die Entwickler*innen von Helios unterst&uuml;tzen
  andere Organisationen dabei, Wahlmaschinen in &ouml;ffentlichen Wahlen (z.B. in den USA) sicherer und besser zu machen.
  Wir glauben allerdings auch, dass eine bessere Verifizierbarkeit n&ouml;tig ist, damit W&auml;hler*innen
  dem Ausz&auml;hlprozess mehr vertrauen k&ouml;nnen und sie sichergehen k&ouml;nnen, dass ihre Stimme nicht
  nur korrekt erfasst, sondern im Ergebnis auch korrekt gez&auml;hlt wurde. Wir bezeichnen das als
<em>echte Verifizierbarkeit</em>. Andere bezeichnen dieses Konzept als "Ende-zu-Ende-Verifizierbarkeit" oder
"Open Audit".
</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<b>Wie geheim ist meine Stimme bei Helios?</b>
<p>
  Helios legt gro&szlig;en Wert darauf, deine Stimme geheim zu halten. Deine Stimme wird
  in deinem Browsers verschl&uuml;sselt, bevor sie &uuml;berhaupt an den Helios-Server &uuml;bertragen wird.
  Deine Stimme wird als nur verschl&uuml;sselt in der Helios-Datenbank gespeichert. Deine verschl&uuml;sselte Stimme wird dann mithilfe
  moderner kryptographischer Methoden mit allen anderen Stimmen in ein verschl&uuml;sseltes Ergebnis zusammengef&uuml;hrt.
  Erst dieses Ergebnis wird dann entschl&uuml;sselt. Das bedeutet, dass deine Stimme als solche nie entschl&uuml;sselt wird.
  Die*der Administrator*in deiner Wahl kann mehrere Treuh&auml;nder*innen f&uuml;r deine Wahl festlegen. Die
  Treuh&auml;nder*innen k&ouml;nnen dann nur gemeinsam das Wahlergebnis entschl&uuml;sseln, was wieder garantiert,
  dass nur das Ergebnis, nie einzelte Stimmen, entschl&uuml;sselt werden.</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<b>Was ist so "smart" am Stimmzettel-Tracker von Helios?</b>
<p>
  Eine normale Tracking-Nummer wie z.B. f&uuml;r ein Paket bei der Post ist eine mehr oder weniger zuf&auml;llige
  Nummer. Sie hat keine andere Bedeutung als die, dass sie eben ein Paket identifiziert. Es kann sein, dass
  das Paket beim Empf&auml;nger ankommt, der Inhalt aber unterwegs kaputt geworden ist, weil der Paketdienstleister
  nicht sorgf&auml;ltig mit dem Paket umgegangen ist. In der digitalen Welt sind wir in der Lage, 
  spezielle Tracking-Nummern zu erzeugen, die alles andere als zuf&auml;llig sind. Wir erzeugen einen elektronischen
  Fingerabdruck deiner Stimme. Wenn den Stimmzettel schlie&szlig;lich ausgez&auml;hlt wird, wei&szlig;t du mit unserem
  smarten Stimmzettel-Tracker nicht nur, <em>dass</em> der Stimmzettel ausgez&auml;hlt wurde, sondern auch, dass
  er <em>korrekt</em> ausgez&auml;hlt wurde. Das macht ihn <b>smart</b>!
  </p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<b>Ist Helios das einzige Wahlsystem dieser Art?</b>
  <p>Nein, es gibt noch weitere, zum Beispiel <a href="https://www.usenix.org/conference/evtwote13/workshop-program/presentation/bell">STARVote</a>, 
    <a href="https://wombat.factcenter.org/">Wombat Voting</a>. 
    Wir m&ouml;gen diese Systeme und die Leute, die daran arbeiten. 
    VoteHere war eine Firma, die Pionerarbeit im Bereich von Online-Wahlen geleistet hat, sie existiert aber nicht mehr. 
    Das Helios-System hat sich zum Ziel gesetzt, auf innovative Art und Weise echte Verifizierbarkeit f&uuml;r
    Online-Wahlen zu erm&ouml;glichen, wir sind aber nicht die einzigen, die in diesem Bereich aktiv sind.</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<b>K&ouml;nnten wir Helios nicht auch f&uuml;r &ouml;ffentliche politische Wahlen verwenden, die n&auml;chste Wahl zum EU-Parlement zum Beispiel?</b>
<p>Nein, sollten wir nicht. Online-Wahlen sind dann in Ordnung, wenn man keinen Wahlbetrug erwartet.
  Bei &ouml;ffentlichen politischen Wahlen steht unheimlich viel am Spiel, nicht zuletzt das Vertrauen der
  W&auml;hler*innen in die demokratischen Institutionen ihres Landes. Wir finden, es ist keine gute Idee,
  Stimmen &uuml;ber das Internet zu erfassen. Das hat nichts mit Helios selbst zu tun. Wir glauben einfach,
  dass die PCs und Smartphones unserer B&uuml;rger*innen sicher genug sind, um gegen ernst gemeinte Attacken
  gewappnet zu sein.</p>

<p>Wenn man gerne ein echt verifizierbares Wahlsystem f&uuml;r &ouml;ffentliche politische Wahlen h&auml;tte,
  empfehlen wir elektronische Wahlen in Wahllkokalen. Helios k&ouml;nnte in diese Richtung weiterentwickelt werden,
  unser Fokus liegt derzeit aber auf Online-Wahlen.</p>
</div>


</div>


{% endblock %}
