{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
<h2>{{ settings.SITE_TITLE }}</h2>
{% endblock %}

{% block content %}

<div class="row"><div class="large-5 columns large-centered"><a href="/"><img border="0" src="{{ settings.MAIN_LOGO_URL }}" /></a></div></div>
<div class="row">&nbsp;</div>
<div class="large-9 columns">
  {% if settings.MASTER_HELIOS %}
<p>Freie Wahl / Helios bietet <b>verifizierbare Online-Wahlen</b>.</p>

<p>Wir glauben, Demokratie ist wichtig. Ob es dein Buchclub, dein Elternverein, deine Partei, Gewerkschaft oder deine Gemeinde ist. Deswegen haben wir wirklich verifizierbare Wahlen so einfach zu verwenden gemacht wie es geht.</p>

<p>
Wahlen bei Freie Wahl/Helios sind:
<ul class="disc">
<li><b>privat</b>: Niemand wei&szlig;, wie du abgestimmt hast.</li>
<li><b>verifizierbar</b>: Jede*r W&auml;hler*in bekommt eine Tracking-Nummer f&uuarr;r die abgegebene Stimme.</li>
<li><b>bew&auml;hrt</b>: Helios ist Open-Source, wurde von Top-Experten gepr&uuml;ft, und wird von gro&szlig;en, etablierten Organisationen verwendet.</li>
</ul>

{% if create_p %}
<a class="button" href="{% url "elections@new" %}">Wahl erstellen</a>
{% endif %}

  {% else %}
  <p style="font-size: 1.4em;">
    {{settings.WELCOME_MESSAGE|safe}}
  </p>
  
  {% if elections|length %}
  <p>
    {% for election in elections %}
    <div class="panel">
      <a style="font-size: 1.4em;" href="{% url "shortcut@election" election.short_name %}">{{election.name}}</a>{% if settings.SHOW_USER_INFO %}<br /> von {{election.admin.display_html_small|safe}}{% endif %}
    </div>
    <br />
    {% endfor %}
  </p>
  {% else %}
  <h4>Derzeit gibt es keine &ouml;ffentlich vorgestellten Wahlen</h4>
  {% endif %}
{% endif %}
  
</div>

<div class="large-3 columns" id="mystuff">
<div class="row">&nbsp;</div>
<div class="panel row">
{% if user %}
<!--<div class="row right">{{user.display_html_big|safe}}</div>-->
{% if create_p %}
<a class="small button" href="{% url "elections@new" %}">Wahl erstellen</a>
<h5 class="subheader">Administration</h5>
{% if elections_administered %}
<ul>
{% for election in elections_administered %}
<li> <a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
{% endfor %}
</ul>
{% else %}
<em>noch keine Wahl erstellt</em>
{% endif %}
<div class="row right">
<a class="tiny button" href="{% url "elections@administered" %}">alle anzeigen</a>
</div>
<div class="row"></div>
{% endif %}

<h5 class="subheader">K&uuml;rzlich abgegebene Stimmen</h5>
{% if elections_voted %}
<ul>
{% for election in elections_voted %}
<li><a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
{% endfor %}
</ul>
{% else %}
<em>noch keine</em>
{% endif %}
<div class="row right"><a class="tiny button" href="{% url "elections@voted" %}">alle anzeigen</a></div>
<div class="row"></div>
{% else %}
{% if settings.SHOW_LOGIN_OPTIONS %}
<h5>Melde dich an um zu W&auml;hlen</h5>
{{login_box|safe}}
{% else %}
<p>
  W&auml;hle eine der Wahlen um abzustimmen. Du wirst deine Anmeldedaten angeben m&uuml;ssen, wenn du deinen Stimmzettel abgeben willst.
</p>
{% endif %}
{% endif %}
</div>
</div>


{% endblock %}
