{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }} &mdash; Datenschutzerkl&auml;rung{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="large-12-columns">

<div class="row"><h2>Datenschutzerkl&auml;rung</h2></div>

<div class="row">

<h3>Allgemeines</h3>

<ul>
<li> Bei Helios ist der Datenschutz schon eingebaut. Wenn du Fragen oder Bedenken hast, die hier nicht gekl&auml;rt werden, <a href="mailto:michael@freiewahl.at">schick uns eine Mail</a>.</li>
<li> Wir speichern ausschlie&szlig;lich jene Daten, die f&uuml;r die Durchf&uuml;hrung von Wahlen ben&ouml;tigt werden.</li>
<li> Gewisse Daten werden &ouml;ffentlich zug&auml;nglich gemacht, um ein Audit von Wahlergebnissen zu erm&ouml;glichen. Abgesehen davon werden keine Daten herausgegeben.</li>
<li> Wir verkaufen keine Informationen. Nie.</li>
<li> Wir verwenden keine externen Tracker und keine Werbung, &uuml;ber die Daten nach au&szlig;en gelangen k&ouml;nnten.</li>
</ul>

<p>
<b>Das ist das wichtigste. Du kannst gerne noch weiterlesen, es werden noch ein paar Details ausgef&uuml;hrt. Die hier angef&uuml;hrten Grundregeln bleiben jedoch unangetastet.</b>
</p>

<hr>

<h3>F&uuml; W&auml;hler*innen</h3>

<p><b>&Uuml;ber deine Stimme:</b></p>

<ul>
<li> Deine Stimme in Helios wird als h&ouml;chst privat angesehen.</li>
<li> Wir verwenden SSL-Verschl&uuml;sselung, um Daten zwischen deinem Browser und unserem Server zu &uuml;bertragen.</li>
<li> Zus&auml;tzlich verwenden wir Ende-zu-Ende-Verschl&uuml;sselung, deine Stimme ist also auch nach der SSL-Entschl&uuml;sselung <b>noch immer verschl&uuml;sselt</b>, und zwar mit dem Wahl-Schl&uuml;ssel. Helios-Server sehen deine Stimme nie.</li>
<li> Im normalen Prozess einer Wahl bei Helios wird deine Stimme als solche nie entschl&uuml;sselt. Die verschl&uuml;sselten Stimmen werden mit einem Verfahren namens homomorpher Verschl&uuml;sselung in einem verschl&uuml;sselten Ergebnis zusammengef&uuml;hrt. Nur dieses Ergebnis &mdash; niemals eine einzelte Stimme oder ein Zwischenergebnis &mdash; wird entschl&uuml;sselt.</li> 
<li> The trustees of your election, if they all collude, technically have the power to decrypt your individual vote. This action is strongly discouraged and is against Helios policy. It is why high-security elections should use at least 3 trustees with different allegiances. </li>
<li> Helios may, at your election administrators' discretion, serve as a trustee of your election. This does <em>not</em> give Helios any power to decrypt your vote. In fact, it is probably preferable, since without Helios's collaboration, the remaining trustees cannot decrypt individual votes. It is our policy that Helios, when acting as a trustee, will only decrypt the election tally, never an individual vote.</li>
<li> When Helios is not acting as a trustee of your election, Helios has no power to decrypt any individual vote.</li>
</ul>

<p><b>About non-vote data:</b></p>

<ul>
<li> To vote, you will need to present credentials to prove your eligibility. Depending on how your election was set up, this may be a username and password that were generated for you, or a Facebook, Google, Yahoo, or Twitter login. Helios uses the appropriate login interfaces to those external services so that it never has access to your credentials at those services. </li>
<li> For the purposes of election auditing, Helios stores your name, email address, and the minimal eligibility information needed to qualify you, for example the Facebook group that you belong to that was designated as the eligibility requirement for this election.</li>
<li> The complete metadata of your vote: where you voted from, what time you voted, and how often you vote (only the last vote counts!), are stored in Helios and may be made available to your election administrators as part of the auditing process. This is critical for ensuring a secure and trustworthy election.</li>
<li> If your election was made public by the administrator, then some core auditing information is made available to the public: the fact that you voted, the time of your vote, and its tracking number. If your administrator chose to use voter aliases, then your name will be replaced by your pseudonymous voter ID in that dataset. In all cases, Helios takes care to mask or fully hide your email address to prevent email harvesting for spam.</li>
<li> If your election was made private, then this same information is available to only you, your fellow voters, and your election administrators.</li>
</ul>

<h3>F&uuml;r Administrator*innen</h3>


<ul>
<li> As an administrator, you have the power to designate who can vote, when the election starts, when the election stops, and when the results are released. Other than that, you have no power beyond what voters in your election have. This is by design.</li>
<li> To create and administer an election, you will need to log in using Google, Facebook, Yahoo, or Twitter. Helios queries and retains only the basic information needed to authenticate you the next time around: your name, email address, and user ID. Helios will use this information to message you when your election requires attention.</li>
</ul>

<h3>Standard-Datenschutzerkl&auml;rung - Erkl&auml;rung zur Informationspflicht</h3>

Der Schutz Ihrer pers&ouml;nlichen Daten ist uns ein besonderes Anliegen. 
Wir verarbeiten Ihre Daten daher ausschlie&szlig;lich auf Grundlage der gesetzlichen Bestimmungen 
(DSGVO, TKG 2003). In diesen Datenschutzinformationen informieren wir Sie &uuml;ber die wichtigsten Aspekte der 
Datenverarbeitung im Rahmen unserer Website. <br><br>

Beim Besuch unserer Webseite wird Ihre IP-Adresse, Beginn und Ende der Sitzung f&uuml;r die Dauer dieser Sitzung 
erfasst. Dies ist technisch bedingt und stellt damit ein berechtigtes Interesse iSv Art 6 Abs 1 lit f DSGVO dar. 
Soweit im Folgenden nichts anderes geregelt wird, werden diese Daten von uns nicht weiterverarbeitet.

<h4>Kontakt mit uns</h4>

Wenn Sie per Formular auf der Website oder per E-Mail Kontakt mit uns aufnehmen, werden Ihre angegebenen Daten
zwecks Bearbeitung der Anfrage und f&uuml;r den Fall von Anschlussfragen sechs Monate bei uns gespeichert. 
Diese Daten geben wir nicht ohne Ihre Einwilligung weiter. 


<h4>Cookies</h4>

Unsere Website verwendet so genannte Cookies. Dabei handelt es sich um kleine Textdateien, 
die mit Hilfe des Browsers auf Ihrem Endger&auml;t abgelegt werden. Sie richten keinen Schaden an.<br><br>

Wir nutzen Cookies dazu, unser Angebot nutzerfreundlich zu gestalten. Einige Cookies bleiben auf 
Ihrem Endger&auml;t gespeichert, bis Sie diese l&ouml;schen. Sie erm&ouml;glichen es uns, Ihren 
Browser beim n&auml;chsten Besuch wiederzuerkennen.<br><br>

Wenn Sie dies nicht w&uuml;nschen, so k&ouml;nnen Sie Ihren Browser so einrichten, dass er Sie &uuml;ber 
das Setzen von Cookies informiert und Sie dies nur im Einzelfall erlauben.<br><br>

Bei der Deaktivierung von Cookies kann die Funktionalit&auml;t unserer Website eingeschr&auml;nkt sein.

Unseren Vertreter erreichen Sie unter
Michael Faschinger - michael@freiewahl.at

</div>

</div>

{% endblock %}
