{% extends TEMPLATE_BASE %}

{% block content %}
<h1>Warum wir deine Daten brauchen</h1>

<p>
    Du hast uns offenbar keinen Zugriff auf deine Daten gegeben.
    Wir verstehen, dass dir deine Privatsph&auml;re wichtig ist. Wir brauchen
    diese Informationen allerdings, damit wir dir deine Wahl-Tracking-Nummer
    zukommen lassen k&ouml;nnen und dich informieren k&ouml;nnen, wenn eine
    Wahl fertig ausgez&auml;hlt ist. Wir versprechen, dass wir die Informationen
    f&uuml;r keine anderen Zwecke verwenden. Ohne diese Informationen k&ouml;nnen
    wir dir keine Wahl-relevanten Datens schicken.
</p>

<form method="POST" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="submit" value="OK, ich verstehe, bitte anmelden." /><br /><br />
<a href="http://google.com">Nein, dann lassen wir das lieber</a>.
</form>

{% endblock %}
