Bitte gib deine W&auml;hler*innen-ID und dein Passwort ein, die du per Mail bekommen hast:<br /><br />
<form method="post" action="{% url "election@password-voter-login" election.uuid %}" onsubmit="show_waiting()">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="return_url" value="{{return_url}}" />
<input type="hidden" name="cast_ballot" value="{{cast_ballot}}" />
<table>
    {{password_login_form.as_table}}
</table>
{% if bad_voter_login %}
<p style="color: red;">
    Falsche W&auml;hler*innen-ID oder falsches Passwort, bitte probiere es noch einmal.
</p>
{% endif %}
{% if cast_ballot == "1" %}
<p class="small">
    Du kannst sooft abstimmen wie du willst, nur die letzte Stimme z&auml;hlt!
</p>
<input type="submit" class="button" value="Stimme abgeben" />
{% else %}
<input type="submit" class="button" value="Einloggen" />
{% endif %}
</form>

