{% extends TEMPLATE_BASE %}
{% block title %}Stimmabgabe best&auml;tigen{% endblock %}

{% block content %}
<h1>{{election.name}} &mdash; Deine Stimme wurde erfolgreich abgegeben!</h1>

<p>
    Gratulieren, deine Stimme wurde <b><u>erfolgreich abgegeben!</u></b>!
</p>

<p>
  Hier ist dein Stimmzettel-Tracker:<br /><br />
    <tt style="font-size:1.8em; font-weight: bold; padding-left: 20px;">  {{vote_hash}}</tt>
</p>

{% if logout %}
<p><b>Zu deiner Sicherheit wurdest du ausgeloggt.</b></p>
<iframe width="0" height="0" border="0" frameborder="0" src="{% url "auth@logout" %}">
</iframe>
{% endif %}

<p style="font-size: 1.4em;">
[ <a href="{% url "election@view" election.uuid %}">Zur&uuml;ck zur Wahl-Info</a> ]
</p>

{% endblock %}
