{% extends TEMPLATE_BASE %}

{% block title %}Ergebnis berechnen &mdash; {{election.name}}{% endblock %}
{% block content %}
  <h2 class="title">{{election.name}} &mdash; Ergebnis berechnen <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">Abbrechen</a>]</span></h2>

  <p>
    Du kannst jetzt das Wahlergebnis berechnen. Erst danach kannst du die Ergebnisse ansehen.
  </p>

  <form method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <input type="submit" class="button" value="Wahlergebnis jetzt berechnen!" />
  </form>

{% endblock %}
