{% extends "helios/templates/cryptobase.html" %}
{% block content %}
<script language="javascript">

var PUBLIC_KEY, PROOF;

function clear_keys() {
    $('#sk_download').hide();
    $('#pk_form').hide();
    $('#buttons').show();
    $('#clear_button').hide();
    $('#reuse').hide();
}

function show_key_reuse() {
    $('#generator').hide();
    $('#reuse').show();
}

SECRET_KEY = null;

function reuse_key(secret_key_text) {
    SECRET_KEY = ElGamal.SecretKey.fromJSONObject(jQuery.secureEvalJSON(secret_key_text));

    $('#reuse').hide();
    setup_public_key_and_proof();
    show_pk();
}

// start collecting some local randomness
sjcl.random.startCollectors();

$(document).ready(function() {
    clear_keys();
    $('#generator').hide();

    // get some more server-side randomness for keygen
    $.getJSON('{% url "election@get-randomness" election.uuid %}', function(result) {
       sjcl.random.addEntropy(result.randomness);
       BigInt.setup(function() {
          ELGAMAL_PARAMS = ElGamal.Params.fromJSONObject({{eg_params_json|safe}});
          $('#waiting_message').hide();
          $('#generator').show();
       });
    });
});


function generate_keypair() {
    $('#buttons').hide();
    
    try {
        SECRET_KEY = ELGAMAL_PARAMS.generate();
    } catch (e) {
        alert(e);
    }

    setup_public_key_and_proof();
}

function setup_public_key_and_proof() {    
    // generate PoK of secret key
    PROOF = SECRET_KEY.proveKnowledge(ElGamal.fiatshamir_dlog_challenge_generator);
    PUBLIC_KEY = SECRET_KEY.pk;

    var pk_val = jQuery.toJSON({'pok': PROOF, 'public_key': PUBLIC_KEY});
    $('#pk_textarea').val(pk_val);
    $('#pk_hash').html(b64_sha256(jQuery.toJSON(PUBLIC_KEY)));

    $('#clear_button').show();
    show_sk();
}

function show_sk() {
    $('#sk_download').show();
}

function download_sk() {
    $('#pk_content').show();
    $('#sk_content').html(jQuery.toJSON(SECRET_KEY));
}

function download_sk_to_file(filename) {
    var element = document.createElement('a');
    element.setAttribute('href','data:text/plain;charset=utf-8,'+ encodeURIComponent(jQuery.toJSON(SECRET_KEY)));
    element.setAttribute('download', filename);
    element.style.display = 'none';
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
}

function show_pk() {
    $('#sk_download').hide();
    $('#pk_content').hide();
    $('#pk_hash').show();
    $('#pk_form').show();
}

</script>

<h2 class="title">{{election.name}} &mdash; Treuh&auml;nder*in {{trustee.name}} &mdash; Schl&uuml;sselerstellung</h2>

<p>
    Als Treuh&auml;nder*in muss jetzt dein Schl&uuml;ssel f&uuml;r diese Wahl erstellt werden.
</p>

<p id="waiting_message">
        Bitte warte, w&auml;hrend der Schl&uuml;sselgenerator geladen wird...
</p>

<p id="generator">

<span id="buttons"><button onclick="generate_keypair(); return false;" id="generate_button">Wahl-Schl&uuml;ssel erstellen</button></span>

<br />
Wenn du bereits ein Schl&uuml;sselpaar erstellt hast, kannst du es <a href="javascript:show_key_reuse()">wiederverwenden</a>.
</p>

<div id="reuse">
<h3>Schl&uuml;ssel wiederverwenden</h3>

<p>
    Gib deinen ganzen geheimen Schl&uuml;ssel hier ein:
</p>
<form onsubmit="reuse_key(this.secret_key.value); return false;">
<textarea cols="80" rows="5" wrap="soft" name="secret_key">
</textarea>
<br />
<input type="submit" value="Wiederverwenden" />
</form>
</div>

<div id="sk_download">
<h3>Dein geheimer Schl&uuml;ssel</h3>
<span id="clear_button">
    Dein Schl&uuml;ssel wurde erzeugt, aber du kannst ihn 
    <br /><a href="javascript:clear_keys();">verwerfen und wieder neu beginnen</a>, wenn du willst.<br />
</span>

<p>
    <button style="font-size:16pt;" onclick="download_sk(); $('#pk_link').show();">Zeige meinen geheimen Schl&uuml;ssel</button>
</p>
</div>

<div style="display:none;" id="pk_content">
    <p>
        Hier ist ein geheimer Treuhand-Schl&uuml;ssel. Bitte kopiere ihn und bewahre ihn sicher auf.<br>
        Bellow is your trustee secret key content. Please copy its content and save it securely. <br>
       Du kannst ihn auch herunterladen und als Datei speichern. Und bitte verliere den Schl&uuml;ssel nicht, ohne Schl&uuml;ssel
       k&ouml;nnen die Stimmen nicht ausgez&auml;hlt werden!<br>
    </p>
    <textarea id="sk_content" rows="5" wrap="soft" cols="50" style="height: 25em;"></textarea>
</div>

<div style="display:none;" id="pk_link">
<p>
<a id="download_to_file" href="javascript:download_sk_to_file('trustee_key_for_{{election.name}}.txt');">Privaten Schl&uuml;ssel herunterladen</a>
</p>
<p>
  <a href="javascript:show_pk();">OK, ich habe den Schl&uuml;ssel gesichert, weiter geht's!</a>
</p>
</div>

<form method="post" id="pk_form" action="{% url "election@trustee@upload-pk" election.uuid trustee.uuid %}">
<h3>Dein &ouml;ffentlicher Schl&uuml;ssel</h3>
<p>
    Jetzt kann dein &ouml;ffentlicher Schl&uuml;ssel zum Server &uuml;bertragen werden.
</p>
<p>
    Der elektronische Fingerabdruck deines &ouml;ffentlichen Schl&uuml;ssels ist: <tt id="pk_hash" style="font-size: 1.5em; font-weight: bold;"></tt>.<br />
    Du kannst auch diesen Schl&uuml;ssel speichern um sicherzustellen, dass dein Schl&uuml;ssel korrekt am Server abgelegt wurde.<br />
    (Dein &ouml;ffentlicher Schl&uuml;ssel wird nicht vollst&auml;ndig angezeigt, hier reicht der elektronische Fingerabdruck.)
</p>
<textarea id="pk_textarea" name="public_key_json" cols="80" rows="10" style="display:none;">
</textarea>
<input type="submit" value="&Ouml;ffentlichen Schl&uuml;ssel an Server &uuml;bertragen">
</form>

<div id="applet_div"></div>
<br /><br />
{% endblock %}
