{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Stimmzettel einfrieren</h2>
<p>
  Ist der Stimmzettel einmal eingefroren, k&ouml;nnen Fragen und Antwortm&ouml;glichkeiten nicht mehr bearbeitet werden.<br />
  Die Liste der Treuh&auml;nder*innen und deren &ouml;ffentliche Schlüssel werden ebenfalls eingefroren.
</p>

<p>
{% if election.openreg %}
Die Registrierung f&uuml;r deine Wahl ist derzeit <b>offen</b>, somit kann jede*r abstimmen, auch wenn der Stimmzettel eingefroren ist.
{% else %}
Die Registrierung f&uuml;r deine Wahl ist derzeit <b>geschlossen</b>, somit k&ouml;nnen nur Personen abstimmen, denen du das erm&ouml;glichst. Als Administrator kannst du die
Liste der W&auml;hler*innen auch w&auml;hrend der laufenden Wahl noch bearbeiten.
{% endif %}
</p>    

{% if helios.VOTERS_EMAIL %}
<p>
  Du musst den Stimmzettel einfrieren, bevor du W&auml;hler*innen kontaktieren kannst.
</p>
{% endif %}

{% if issues_p %}
<p>
  Bevor du den Stimmzettel einfrieren kannst, musst du:
    <ul>
        {% for issue in issues %}
        <li>{{issue.action}}</li>
        {% endfor %}
    </ul>
    <a href="{% url "election@view" election.uuid %}">Zur&uuml;ck zur Wahl</a>
</p>
{% else %}
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
<input class="button" type="submit" value="Stimmzettel einfrieren" />
<button onclick="document.location='{% url "election@view" election.uuid %}'; return false;">Doch nicht</button>
</form>
{% endif %}

<br /><br />
{% endblock %}
