{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{ election.name }} – Registrierung</h2>

{% if user %}
<p>
    Du biste eingeloggt als {{user.user_id}} [{{user.user_type}}]
</p>
{% if voter %}
<p>
    Du bist f&uuml;r diese Wahl bereits registriert.
</p>
{% else %}
<p>
    Du bist f&uuml;r diese Wahl <em>noch nicht</em>> registriert.
</p>

<form method="post" action="{% url "election@register" election.uuid %}">
<input type="submit" value="Registrieren!" />
</form>
{% endif %}

{% else %}
{% endif %}

{% endblock %}