{% extends TEMPLATE_BASE %}
{% block title %}Stimmabgabe best&auml;tigen{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#all_forms').hide();
  $('#waiting_div').show();
}

// FIXME: set this to false once it's clear how to set it back to true
// so that it's not easy to forget to cast a ballot
var ready_to_unload = true;

window.onbeforeunload = function(evt) {
  if (ready_to_unload)
    return;

  if (typeof evt == 'undefined') {
    evt = window.event;
  }
  
  var message = "Du hast deine Stimme noch nicht abgegeben! Verischere dich, dass du den Abstimmprozess abschlie&szlig;t, damit deine Stimme auch sicher z&auml;hlt.";

  if (evt) {
    evt.returnValue = message;
  }
  
  return message;
};

</script>
<p style="margin-top: 10px">&Uuml;bermittle Stimme f&uuml;r <b>{{election.name}}</b>...</p>

<div id="waiting_div">
    Stimmzettel wird &uuml;berpr&uuml;ft und abgegeben.<br />
    <img src="/static/helios/loading.gif" />
</div>

<div id="all_forms">

{% if voter %}

{% include "_castconfirm_docast.html" %}

{% else %}

{% if show_password %}
{% if user %}
<h1>Warte!</h1>
<p>
  Du bist als <u>{{user.display_html_small|safe}}</u> eingeloggt, aber f&uuml;r diese Wahl brauchst du<br />
eigene Anmeldedaten!
</p>
{% endif %}
{% with cast_ballot="1" %}
{% include "_castconfirm_password.html" %}
{% endwith %}

{% else %}

{% if user %}
<h1>Sorry!<h1>
<b>Sorry, du bist <em>
  {% if election.openreg %}
    <u>nicht stimmberechtigt</u></em> bei dieser Wahl.
  {% else %}
    nicht registriert</em> f&uuml;r diese Wahl, und die Registrierung ist bereits abgeschlossen.
  {% endif %}
  </b><br /></p>
<p>
    [<a href="{% url "election@view" election.uuid %}">Zur&uuml;ck zur Wahl-Seite.</a>]
</p>
{% else %}
<p>
<h1>Warte! Du musst dich erst anmelden!</h1>
{% if election.openreg %}

  {% if election.eligibility %}
  {% else %}
   Diese Wahl ist eine <em>offene Wahl</em>, also melde dich mit deinem bevorzugten Benutzerkonto an.
  {% endif %}

{% else %}
  Bei dieser Wahl sind nur registrierte W&auml;hler*innen stimmberechtigt, also melde dich mit den
  Anmeldedaten an, mit denen du dich f&uuml;r die Wahl registriert hast!
{% endif %}
</p>

{{login_box|safe}}

<br />
Keine Sorge, wir merken uns deinen Stimmzettel, w&auml;hrend du dich anmeldest.
{% endif %}

{% endif %}
<br />
Dein Smarter Stimmzettel-Tracker ist:<br /><br />
    <tt style="font-size:1.3em; font-weight: bold; padding-left: 20px;">  {{vote_fingerprint}}</tt>
</p>
{# this closes the IF ELSE of this being password_only #}
{% endif %}

</div>

{% endblock %}
