{% extends TEMPLATE_BASE %}

{% block title %}Cookies werden f&uuml;r die Verwendung dieser Seite ben&ouml;tigt {% endblock %}

{% block content %}
  <h2 class="title">Cookies werden ben&ouml;tigt</h2>

<p>
  Es scheint als ob dein Browser keine Cookies unterst&uuml;tzt oder Cookies dieser Seite blockiert. Helios braucht ein Session-Cookie, um deine Stimme zu speichern, damit du einloggen kannst etc.. Aktiviere Cookies f&uuml;r diese Seite, dann kannst du <a href="{{retest_url}}">deinen Stimmzettel bearbeiten.</a>
</p>
<p>
  Wenn du wieder auf dieser Seite landest, hast du Cookies wahrscheinlich nicht erfolgreich aktiviert.
</p>
{% endblock %}
