{% extends "helios/templates/cryptobase.html" %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Treuh&auml;nder*in {{trustee.name}}</span></h2>

<p>
{% if trustee.public_key_hash %}
Du hast deinen &ouml;ffentlichen Schl&uuml;ssel erfolgreich hochgeladen.<br />
Der elektronische Fingerabdruck des Schl&uumlssels ist: <b>{{trustee.public_key_hash}}</b>.<br />
Du kannst <a href="{% url "election@trustee@check-sk" election.uuid trustee.uuid %}">verifizieren, dass du den richtigen geheimen Schl&uuml;ssel hast.</a>.
{% else %}
<a href="{% url "election@trustee@key-generator" election.uuid trustee.uuid %}">Schl&uuml;ssel einrichten</a>
{% endif %}
</p>

<p>
{% if election.encrypted_tally %}
{% if trustee.decryption_factors %}
Du hast deine Entschl&uuml;sselungsdaten erfolgreich hochgeladen.
{% else %}
    Das verschl&uuml;sselte Wahlergebnis ist bereit.<br />
    <a href="{% url "election@trustee@decrypt-and-prove" election.uuid trustee.uuid %}">Entschl&uuml;ssle es mit deinem geheimen Schl&uuml;ssel</a>
{% endif %}
{% else %}
Wenn das Wahlergebnis berechnet ist, komme hierher zur&uuml;ck um es mit deinem geheimen Schl&uuml;ssel zu entschl&uuml;sseln.<br />
Du solltest die Mail mit dem Link zu dieser Seite aufbewahren, sie enth&auml;lt die Zugansdaten f&uuml;r diese Seite.
{% endif %}
</p>



{% endblock %}
