{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; W&auml;hler*innenliste hochladen &mdash; Best&auml;tigung und Import<span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">zur&uuml;ck zur Wahl</a>]</span></h2>

<p>
  Du hast eine W&auml;hler*innenliste hochgeladen. Die ersten paar Zeilen der Liste sehen wie folgt aus:
</p>

<table>
<tr><th>ID</th><th>Email-Adresse</th><th>Name</th></tr>
{% for v in voters %}
<tr><td>{{v.voter_id}}</td><td>{{v.email}}</td><td>{{v.name}}</td></tr>
{% endfor %}
</table>

{% if problems %}
<p style="font-size: 1.5em;">
VORSICHT, ES GAB PROBLEME:<br />
{% for problem in problems %}
- {{problem}}<br />
{% endfor %}
</p>
<br />

<a href="{% url "election@voters@upload-cancel" election.uuid %}">andere Datei hochladen</a>
</p>

{% else %}
<p></p>
<form method="post" action="" id="upload_form">
  Sieht das richtig aus?
  <input type="hidden" name="confirm_p" value="1" />
  <input type="submit" value="Ja, W&auml;hler*innenliste importieren" />
</form>

<a href="{% url "election@voters@upload-cancel" election.uuid %}">nein, andere Datei hochladen</a>

{% endif %}

{% endblock %}
