{% extends TEMPLATE_BASE %}

{% block title %}Stimmrechte f&uuml;r {{election.name}}{% endblock %}
{% block content %}
  <h2 class="title">{{election.name}} &mdash; Stimmrechte <span style="font-size:0.7em;">[<a href="{% url "election@voters@list-pretty" election.uuid %}">zur&uuml;ck zu den W&auml;hler*innen</a>]</span></h2>

<p>
<em>{{election.pretty_eligibility|safe}}</em>
</p>

<p>
  Du kannst die Stimmrechte der W&auml;hler*innen auf eine dieser Kategorien einschr&auml;nken, definiert durch {{user.user_type}}:
</p>

<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<select name="category_id">
<option value="" SELECTED>(no constraint)</option>
{% for category in categories %}
<option value="{{category.id}}"> {{category.name}}</option>
{% endfor %}
</select>
<input type="submit" value="Stimmrechte setzen" />
</form>
</ul>
{% endblock %}
