{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; W&auml;hler*innen-Liste hochladen <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">zur&uuml; zur Wahl</a>]</span></h2>

<form method="post" action="" id="upload_form" enctype="multipart/form-data">
  <p>
    Hier kannst du W&auml;hler*innen-Listen mit Name, W&auml;hler*innen-ID und E-Mail-Adresse hochladen.<br /><br />

    Bitte bereite eine Textdatei im CSV-Format vor, mit Komma als Feldtrenner:
</p>
<pre>
   &lt;eindeutige_id&gt;,&lt;email&gt,&lt;name&gt;
</pre>

<p>
Zum Beispiel:
  </p>
  <pre>
      maria1,maria@musterfrau.at,Maria Musterfrau
      max1,max@mustermann.at,Max Mustermann
      ...
  </pre> 

  <p>
    Am einfachsten lassen sich solche List mit Excel, Google Sheets oder LibreOffice Calc erstellen.
    Exportiere die Daten als CSV-Datei, stelle sicher dass der Feldtrenner ein Komma (kein Semikolon!) ist.
  </p>
  {% if error %}
  <div style="color: red;">{{error}}</div>
  {% endif %}
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
    <input type="file" name="voters_file" />
    <input type="submit" value="ok" />
</form>

<div id="processing">
</div>

<div id="done" style="display:none;">
  OK, fertig mit dem Hochladen.<br />
  Du kannst die Liste der W&auml;hler*innen nun <a href="./manage">ansehen</a>.
</div>

{% endblock %}
