{% extends TEMPLATE_BASE %}

{% block title %}W&auml;hler*innen f&uuml;r {{election.name}} kontaktieren{% endblock %}
{% block content %}
<script>
var voter_id = null;
{% if voter %}
voter_id = '{{voter.voter_id}}';
{% endif %}
</script>

  <h2 class="title">{{election.name}} &mdash; W&auml;hler*innen kontaktieren <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">zur&uuml;ck zur Wahl</a>]</span></h2>

{% if voter %}  
  <p>
    Du schickst diese Mail an folgende*n Benutzer*in: <b>{{voter.name}} ({{voter.voter_id}})</b>
  </p>
{% endif %}

<p>
<b>Vorlagen</b>:

{% for template_option in templates %}
{% if template_option.0 == template %}
<b>{{template_option.1}}</b>
{% else %}
<a href="?template={{template_option.0}}&voter_id={{voter.voter_login_id}}">{{template_option.1}}</a>
{% endif %}
&nbsp;&nbsp;&nbsp;
{% endfor %}

<pre style="margin:10px; border: 1px solid #888; padding:20px">
Betreff: {{default_subject}}

{{default_body|safe}}
</pre>

<p>
  Du kannst den Betreff anpassen und eine benutzerdefinierte Nachricht einf&uuml;gen:
</p>

  <form class="prettyform" action="" method="POST" id="email_form">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <input type="hidden" name="template" value="{{template}}" />
    <input type="hidden" name="voter_id" value="{{voter.voter_login_id}}" />
    <table class="pretty">
     {{email_form.as_table}}
     </table>
  <div>
  <label for="">&nbsp;</label><input type="submit" value="Senden" id="send_button" class="button" />
  </div>
  </form>
  
  <div id="processing">
  </div>
  
  <div id="done" style="display:none;">
    Mails wurden verschickt! <a href="{% url "election@view" election.uuid %}">Zur&uuml;ck zur Wahl</a>.
  </div>

  <div id="error" style="display:none;">
    Fehler beim Senden der Mails. &Uuml;berpr&uuml;fe die Servereinstellungen, stelle sicher dass ein SMTP-Server konfiguriert ist.
  </div>

{% endblock %}
