{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Suche W&auml;hler*innen mit '{{search_term}}' <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">zur&uuml;ck zur Wahl</a>]</span></h2>

{% if voter %}
W&auml;hler*in gefunden: {{voter.name}} ({{voter.voter_id}})<br /><br />
{% if election.frozen_at %}
<a href="{% url "election@voters@email" election.uuid %}?voter_id={{voter.voter_id}}">diese*r W&auml;hler*in mailen</a>
{% else %}
Wenn diese Wahl eingefroren ist, kannst du dieser*m W&auml;hler*in mailen.
{% endif %}
{% else %}
<em>kein*e W&auml;hler*in gefunden</em>
{% endif %}

{% endblock %}