{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; W&auml;hler*innen verwalten <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">zur&uuml;ck zur Wahl</a>]</span></h2>

<form method="get" action="{% url "helios.views.voters_search" election.uuid %}"><b>Suche</b>: <input type="text" name="q" /> <input type="submit" value="Suche" /></form>

{% if upload_p %}
<p><a href="{% url "election@voters@upload" election_uuid=election.uuid %}">W&auml;hler*innenliste hochladen</a></p>
{% endif %}

W&auml;hler*innen {{offset_plus_one}} - {{offset_plus_limit}} &nbsp;&nbsp;

{% if next_after %}
<a href="./manage?after={{next_after}}&offset={{offset_plus_limit}}">N&auml;chste {{limit}}</a> &nbsp;&nbsp;
{% endif %}

{% ifequal offset 0 %}
{% else %}
<a href="./manage">Zur&uuml;ck zum Start</a> &nbsp;&nbsp;
{% endifequal %}
{% if more_p %}
<a href="./manage?after={{next_after}}&offset={{next_offset}}">N&auml;chste {{limit}}</a>
{% endif %}

<table class="pretty">
<tr><th>Alias</th><th>Name</th><th>ID</th></tr>
{% for voter in voters %}
<tr><td>{{voter.alias}}</td><td>{{voter.name}}</td><td>{{voter.voter_id}}
{% if election.frozen_at %}
{% else %}
[<a onclick="return confirm('Bist du sicher, dass du {{voter.name}} l&ouml;schen m&ouml;chtest ?');" href="{% url "election@voter@delete" election.uuid voter.uuid %}">x</a>]
{% endif %}
</td></tr>
{% endfor %}
</table>


{% endblock %}
